.container {
  width: 400px;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  position: relative;
}

.status {
  display: flex;
  gap: 20px;
  margin: 15px;
}

.form {
  position: relative;
}

.form .input {
  width: 400px;
  height: 35px;
  border: none;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 1px 1px 5px 1px grey;
}

.form .button {
  position: absolute;
  top: 9px;
  right: 5px;
  border: none;
  background-color: #ffffff;
  font-size: 13px;
}

.form .button:hover {
  color: gray;
}

.ul {
  padding: 0px;
}

.li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f1f3f4;
}

.li .input {
  margin: 0px;
  margin-right: 10px;
}

.li .input {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border: 1.5px solid gainsboro;
  border-radius: 0.35rem;

  &:checked {
    border-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: limegreen;
  }
}

.li .label {
  width: 350px;
  font-size: 15px;
}

.li .div {
  background-color: #f1f3f4;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  position: relative;
}

.li .div:hover {
  color: gray;
}

.li .p {
  position: absolute;
  left: 9px;
  bottom: -11px;
}
